COMPOSE_PROJECT_NAME=amanda-blog-db
DB_ROOT_PASSWORD=
MYSQL_DATABASE=blog
MYSQL_PORT=33070
REDIS_PORT=63800
PMA_PORT=8081
PMA_IMAGE=arm64v8/phpmyadmin
NETWORK_NAME=amanda-blog-db-network
NETWORK_SUBNET=192.168.14.0/24
NETWORK_GATEWAY=192.168.14.1
